<%- include('partials/header') %>
    <%- include('partials/navbar') %>
        <div class="container mt-5">
            <div class="row">
                <div class="col text-center">
                    <h1 class="mb-3">Lista de Publicaciones</h1>

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <main id="posts-list" class="row justify-content-evenly gap-2">
                    </main>
                    <h6 class="mb-3 text-secondary text-center mt-3">dirigete a Admin para ingresar nuevas Publicaciones
                    </h6>
                </div>
            </div>
        </div>


        <script src="/js/home.js"></script>

        <%- include('partials/footer') %>